body{
    background-color: aliceblue;
}

#tablero{
    margin-top: 100px;
    justify-self: center;
}

/*Casillas */
.casilla{
    display: flex;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.casillaCoord{
    display: flex;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.blanca{
    background-color: white;
}

.negra{
    background-color: black;
}


/* Piezas */
.pieza{
    width: 50px;
    height: 50px;
}

.pieza:hover{
    cursor: pointer;
}

.pieza:active{
    cursor: grabbing;
}